<nav>
  <div class="tribute-site">
    <a href="/"><h1>For Mr.Gerladi</h1></a>
    <p>A mentor to us all</p>
  </div>
  <ul>
    <li><a href="/">History</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Entries</a></li>
  </ul>
</nav>
