<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
<% const name = 'mario'; %>

 
<%- include('./partials/nav.ejs')  %>
<div class="about content">
  <h2>About us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius iste expedita qui nesciunt sapiente nam dolorum perspiciatis quasi ducimus. Libero aperiam natus facilis, esse vero dolorem praesentium qui labore sequi.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero maiores nostrum doloribus est, eius nam tempora ipsa odit commodi, repellat id facilis vitae rem iste amet excepturi recusandae deserunt. Non?</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo vitae officiis quo nisi id quod obcaecati, natus aperiam magni saepe molestias neque? Facilis consectetur omnis atque mollitia, eligendi maiores perferendis.</p>
</div>
<%- include('./partials/foot.ejs') %>
</body>
</html>